* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    background: linear-gradient(#00e9c7, rgb(23 150 255));
    padding: 30px 10%;
    z-index: 1;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    .title {
        text-align: center;
        color: white;
        font-size: 40px;
        font-weight: bold;
        white-space: nowrap;
        // background-color: red;
    }

    .input-wrap {
        display: flex;
        align-items: center;

        .text-area {
            flex: 1 0 0;
            height: 40px;

            border: {
                style: none;
                radius: 20px;
            }

            outline-style: none;
            padding-left: 20px;
            transition: box-shadow 0.15s ease-in-out;

            &:focus {
                box-shadow: 1.5px 1.5px 1.5px gray;
            }
        }

        button {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            margin-left: 1rem;

            border: {
                style: none;
                radius: 20px;
            }

            background-color: white;
            transition: box-shadow 0.15s ease-in-out;

            &:hover {
                box-shadow: 1.5px 1.5px 1.5px gray;
            }

            span {
                position: relative;
                top: 1px;
                left: 1px;
            }
        }
    }

}

.list-wrap {
    padding: 0 10% 15px 10%;

    .list-items {
        list-style: none;

        border: {
            style: solid;
            width: 1px 0;
            color: #ccc;
        }

        .list-item {
            display: flex;
            align-items: center;
            padding: 10px;

            border: {
                style: solid;
                width: 1px 0 0 0;
                color: #eee;
            }

            &:first-child input {
                cursor: pointer;
            }

            div {
                flex-grow: 1;

                label {
                    padding-left: 10px;
                    font-size: 17px;
                    font-weight: bold;
                    cursor: pointer;

                    &.done {
                        text-decoration: line-through;
                        opacity: 0.3;
                    }
                }
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 28px;
                height: 28px;
                border-radius: 100%;
                font-size: 17px;
                transition: background-color 0.15s ease-in-out;

                &:hover {
                    background-color: #00000020;
                }

                i {
                    cursor: pointer;
                }
            }
        }
    }
}